<div id="page-wrapper">

<!-- Header -->
	<%= erb :header %>	
<!-- Banner -->
	<%= erb :banner %>

	<%= erb :products_index %>

<!-- Features -->
	<%= erb :features %>

<!-- Main -->
	<%= erb :more %>

<!-- Footer -->
	<%= erb :footer %>

</div>