<div id="page-wrapper">

	<!-- Header -->
		<%= erb :header %>

	<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div class="row 200%">
					<div class="3u 12u$(medium)">
						<%= erb :product_detail_sidebar %>
					</div>
					<div class="9u 12u$(medium) important(medium)">
							<div class="detail_container">
								<h3 style="text-align:center"><%= @product[0]["name"] %></h3>
							  <div id="js-gallery" class="gallery">
							    <div class="gallery__hero">
							      <a href="" class="gallery__hero-enlarge ir" data-gallery="zoom">Zoom</a>
							      <img src="<%= @product[0]["images"].first %>">
							    </div>
							    <div class="gallery__thumbs">
							    	<% @product[0]["images"].each do |image| %>
							    		<a href="<%= image %>" data-gallery="thumb" class="is-active">
											<img src="<%= image %>">
										<% end %>
							    </div>
							    <div class="row">
							    	<p>Precio por dia: <%= @product[0]["price"] %></p>
							    </div>
							    <div class="row">
							    	<p><%= @product[0]["description"] %></p>
							    </div>
							  </div>
						 </div>
					</div>
				</div>
			</div>
		</div>
</div>


